:root {
  --accent-color: #800000;

  
  --menu-light: #ffffff;
  --menu-mid: antiquewhite;
  --menu-dark: #000000;
}

/* ---------- Reset ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- page styles ---------- */
body {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  background-color: #fff;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  line-height: 1.5;
  font-size: calc(0.9rem + 0.2vw);
}

h1, h2, h3, p, ul {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

ul {
  margin-left: 2em;
  list-style-type: disc;
  padding-left: 1rem;
}

em, i, header h3, blockquote, .speaker h2 {
  font-style: normal !important;
}

/* ---------- Header ---------- */
header {
  line-height: 1.2;
  padding-bottom: 1rem;
  background: linear-gradient(30deg, #f6bb73 0%, #fff 30%, #fff 65%, #f6bb73 100%);
}

header img {
  float: left;
  width: 100%;
  min-width: 40px;
  max-width: 80px;
  margin: 0.75em 1em;
  border: 4px double var(--accent-color);
  border-radius: 10px;
}

header h2 {
  font-size: 170%;
}

header h3 {
  font-size: 130%;
  font-style: normal;
}

/* ---------- NAVBAR ---------- */
.navbar {
  background-color: var(--accent-color);
  margin: 1rem 0;
  padding: 0.25rem 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu li {
  flex-basis: 20%;
  text-align: center;
}

.menu a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--menu-light);
  margin: 0 1px 2px;
}

.menu a:hover,
.menu a:focus,
.menu a.current {
  background-color: var(--menu-mid);
  color: var(--menu-dark);
}

/* remove extra spacing at edges */
.menu > li:first-child a { margin-left: 0; }
.menu > li:last-child a { margin-right: 0; }

/* ---------- SUBMENU ---------- */
.menu li:has(.submenu) {
  position: relative;
}

.menu li small {
  margin-left: 4px;
}

.submenu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  color: var(--menu-light);
  list-style: none;
  padding: 0;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li a {
  margin: 0 2px 2px;
}

/* ----------content ---------- */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

aside {
  flex-basis: 25%;
  padding-right: 1rem;
}

section {
  flex-basis: 70%;
}

aside h2 {
  color: var(--accent-color);
}

aside img {
  display: block;
  width: 100%;
  min-width: 40px;
  max-width: 75px;
  margin: 0.5rem 0 1rem 0;
  border: 2px double var(--accent-color);
  border-radius: 8px;
}

/* ---------- Speaker ---------- */
.speaker h1 {
  color: var(--accent-color);
}

.speaker h2 {
  color: black;
  font-style: normal;
}

.speaker p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.featured {
  margin: 1.5rem 0;
  padding: 1rem 0;
}

.featured img {
  float: right;
  width: 100%;
  min-width: 100px;
  max-width: 250px;
  margin: 0 0 1rem 1rem;
  border: 3px double var(--accent-color);
  border-radius: 10px;
}

/* ---------- Footer ---------- */
footer {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: var(--accent-color);
  color: white;
}

/* ---------- Links ---------- */
a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  font-style: normal; 
  margin: 1rem 2rem;
  color: #444;
}

.large {
  font-size: 125%;
}
